<app-flow-page-header
    [title]="'CREATE_ACCOUNT.TITLE' | translate"
    [description]="'CREATE_ACCOUNT.DESCRIPTION' | translate"
    [currentStep]="0"
>
</app-flow-page-header>

<div class="l-container l-linelength l-linelength--xl u-margin-top-double">
    <div class="l-grid l-grid--c2">
        <div class="l-grid__item">
            <div class="c-section u-margin-bottom-double">
                <h3 class="c-section__title">
                    <span>
                        {{ "CREATE_ACCOUNT.ACCOUNT_TITLE" | translate }}
                    </span>
                    <span class="c-section__title-decoration"></span>
                </h3>
                <div class="c-section__body">
                    <div id="lock-form"></div>
                </div>
            </div>
        </div>
        <div class="l-grid__item l-grid__item--illustration">
            <img src="../../../../../assets/images/Illustration-16.svg">
        </div>
    </div>
</div>
