@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/sizing.scss";

.e-header {
  background: $white;
  height: 92px;

  &--inverted {
    background: transparent;

    .c-link {
      color: $white !important;
    }
  }

  .l-grid {
    align-items: center;
  }

  .e-logo {
    img {
      margin-top: 10px;
      height: 32px;
    }
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0;

    li {
      margin: 0 15px;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }

      .c-v-separator {
        width: 2px;
        height: $size-one-half;
      }
    }
  }

  .c-link {
    color: $gray--900;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.e-profile {
  display: flex;
  align-items: center;
  margin: 0;

  &__image {
    max-width: 36px;
    max-height: 36px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: $size-one;
  }

  &__name {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
  }
}
