@import "../../../assets/styles/colors.scss";

.e-header {
  background: $white;
  height: 80px;

  &--inverted {
    background: transparent;

    .c-link {
      color: $white !important;
    }
  }

  .l-grid {
    align-items: center;
  }

  .e-logo {
    img {
      margin-top: 10px;
      height: 36px;
    }
  }

  ul {
    display: flex;

    li {
      margin: 0 15px;
      list-style: none;
    }
  }

  .c-link {
    font-weight: 500;
  }
}
