@import "../../../assets/styles/colors.scss";

.e-header {
  background: $white;
  height: 92px;

  &--inverted {
    background: transparent;

    .c-link {
      color: $white !important;
    }
  }

  .l-grid {
    align-items: center;
  }

  .e-logo {
    img {
      margin-top: 10px;
      height: 32px;
    }
  }

  ul {
    display: flex;

    li {
      margin: 0 15px;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .c-link {
    color: $gray--900;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .c-btn {
    font-size: 0.9rem;
  }
}
