<div class="e-whyaccutane l-container">
    <div class="l-grid l-grid--c2">
        <div class="l-grid__item l-grid__item--illustration">
            <img src="../../../../../assets/images/Illustration-5.svg">
        </div>
        <div class="l-grid__item u-flex-direction-column u-flex-justify-center">
            <div class="l-linelength l-linelength--xs u-margin-left-quad">
                <h3 class="e-whyaccutane__title">
                    {{ "HOME.WHY_ACCUTANE.TITLE" | translate }}
                </h3>
                <p class="e-whyaccutane__description">
                    {{ "HOME.WHY_ACCUTANE.DESCRIPTION" | translate }}
                </p>
                <ul class="c-list c-list--checkmark">
                    <li class="c-list__item">
                        <fa-icon
                            class="c-list__checkmark"
                            [icon]="['fas', 'check']"
                        ></fa-icon>
                        {{ "HOME.WHY_ACCUTANE.LIST_1" | translate }}
                    </li>
                    <li class="c-list__item">
                        <fa-icon
                            class="c-list__checkmark"
                            [icon]="['fas', 'check']"
                        ></fa-icon>
                        {{ "HOME.WHY_ACCUTANE.LIST_2" | translate }}
                    </li>
                    <li class="c-list__item">
                        <fa-icon
                            class="c-list__checkmark"
                            [icon]="['fas', 'check']"
                        ></fa-icon>
                        {{ "HOME.WHY_ACCUTANE.LIST_3" | translate }}
                    </li>
                    <li class="c-list__item">
                        <fa-icon
                            class="c-list__checkmark"
                            [icon]="['fas', 'check']"
                        ></fa-icon>
                        {{ "HOME.WHY_ACCUTANE.LIST_4" | translate }}
                    </li>
                    <li class="c-list__item">
                        <fa-icon
                            class="c-list__checkmark"
                            [icon]="['fas', 'check']"
                        ></fa-icon>
                        {{ "HOME.WHY_ACCUTANE.LIST_5" | translate }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
