<div class="l-container">
    <div class="e-title l-linelength l-linelength--small">
        <h3>
            {{ "HOME.HOW_IT_WORKS.TITLE" | translate }}
        </h3>
        <p>
            {{ "HOME.HOW_IT_WORKS.DESCRIPTION" | translate }}
        </p>
    </div>
    <div class="l-grid l-grid--c3">
        <div class="l-grid__item">
            <img src="../../../../../assets/images/Illustration-4.svg">
            <h6>
                {{ "HOME.HOW_IT_WORKS.BOX_1_TITLE" | translate }}
            </h6>
            <p>
                {{ "HOME.HOW_IT_WORKS.BOX_1_DESCRIPTION" | translate }}
            </p>
        </div>

        <div class="l-grid__item">
            <img src="../../../../../assets/images/Illustration-3.svg">
            <h6>
                {{ "HOME.HOW_IT_WORKS.BOX_2_TITLE" | translate }}
            </h6>
            <p>
                {{ "HOME.HOW_IT_WORKS.BOX_2_DESCRIPTION" | translate }}
            </p>
        </div>

        <div class="l-grid__item">
            <img src="../../../../../assets/images/Illustration-2.svg">
            <h6>
                {{ "HOME.HOW_IT_WORKS.BOX_3_TITLE" | translate }}
            </h6>
            <p>
                {{ "HOME.HOW_IT_WORKS.BOX_3_DESCRIPTION" | translate }}
            </p>
        </div>

        <div class="l-grid__item">
            <img src="../../../../../assets/images/Illustration-1.svg">
            <h6>
                {{ "HOME.HOW_IT_WORKS.BOX_4_TITLE" | translate }}
            </h6>
            <p>
                {{ "HOME.HOW_IT_WORKS.BOX_4_DESCRIPTION" | translate }}
            </p>
        </div>

        <div class="l-grid__item">
            <img src="../../../../../assets/images/Illustration.svg">
            <h6>
                {{ "HOME.HOW_IT_WORKS.BOX_5_TITLE" | translate }}
            </h6>
            <p>
                {{ "HOME.HOW_IT_WORKS.BOX_5_DESCRIPTION" | translate }}
            </p>
        </div>

        <div class="l-grid__item l-grid__item--register u-flex-justify-center">
            <div>
                <h3>
                    {{ "HOME.HOW_IT_WORKS.BOX_6_TITLE" | translate }}
                </h3>
                <p>
                    {{ "HOME.HOW_IT_WORKS.BOX_6_DESCRIPTION" | translate }}
                </p>

                <div class="u-margin-top-double">
                    <app-button
                        arrow="true"
                        (click)="openQuiz()"
                    >
                        {{ "HOME.HOW_IT_WORKS.BOX_6_CTA" | translate }}
                    </app-button>
                </div>
            </div>
        </div>
    </div>
</div>
