<div class="e-hero">
    <div class="l-container">
        <div class="l-grid l-grid--c2">
            <div class="l-grid__item u-flex-direction-column">
                <h2 class="e-hero__overtitle">{{ "HOME.HERO.TITLE_SUB" | translate }}</h2>
                <h1 class="e-hero__title">
                    {{ "HOME.HERO.TITLE_MAIN" | translate }}
                </h1>
                <h6 class="e-hero__description l-linelength l-linelength--xs">
                    {{ "HOME.HERO.DESCRIPTION" | translate }}
                </h6>
                <div class="u-display-flex u-margin-top-double">
                    <app-button
                        inverted="true"
                        size="large"
                        (click)="openQuiz()"
                    >
                        {{ "HOME.HERO.QUIZ_CTA" | translate }}
                    </app-button>

                    <a
                        class="c-btn c-btn--large c-btn--outline"
                        [routerLink]="['/account/create']"
                    >
                        {{ "HOME.HERO.ACCOUNT_CTA" | translate }}
                    </a>
                </div>
            </div>
            <div class="l-grid__item"></div>
        </div>
    </div>
</div>
