@import "../../../../../assets/styles/colors.scss";
@import "../../../../../assets/styles/sizing.scss";

.e-complete {
  display: flex;
  align-items: center;
  height: 100%;
  padding: $size-quad 0;
  margin-bottom: -6rem;
  background: $primary--100;

  .l-container {
    align-items: center;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
    }
  }
}
