@import "../../../../../assets/styles/colors.scss";
@import "../../../../../assets/styles/sizing.scss";

.e-pricing {
  .c-list {
    font-weight: 600;

    &__checkmark {
      width: 26px;
      margin-right: $size-one;
      font-size: 1.4rem;
    }
  }

  &__description {
    color: $gray--600;
  }

  &__price {
    margin-left: auto;
    color: $primary--500;
  }

  &__disable {
    position: relative;
    margin-left: auto;
    color: $gray--500;
    font-weight: 400;
  }

  &__tooltip {
    position: absolute;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    left: 50%;

    p {
      display: inline-block;
      margin-left: 1rem;
      width: 7rem;
      font-size: 0.85rem;
      line-height: 1.4em;
      text-align: center;
      transform: rotate(10deg);
    }
  }
}
