<button
    class="c-btn"
    [class.c-btn--large]="size === 'large'"
    [class.c-btn--outline]="isOutline"
    [class.c-btn--clear]="isClear"
    [class.c-btn--inverted]="isInverted"
    [type]="type"
    (click)="onClick($event)"
>
    <span
        *ngIf="loading"
        class="c-btn__loading"
    >
        <img
            *ngIf="!isInverted"
            src="../../../assets/images/loading.svg"
        >
        <img
            *ngIf="isInverted"
            src="../../../assets/images/loading-colored.svg"
        >
    </span>
    <fa-icon
        *ngIf="!loading && icon"
        [icon]="icon"
    ></fa-icon>
    <span>
        <ng-content></ng-content>
    </span>
    <fa-icon
        *ngIf="hasArrow"
        class="c-btn__arrow"
        [icon]="['fas', 'chevron-right']"
    ></fa-icon>
</button>
