<div class="c-modal e-quiz-modal">
  <button class="c-modal__close" (click)="close()">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>
  </button>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h4 class="c-modal__title">{{ "MODALS.PHARMACY_TITLE" | translate }}</h4>

    <div class="l-grid l-grid--c2">
      <div class="l-grid__item">
        <app-field
          [title]="'FIELDS.PHARMACY_NAME' | translate"
          [placeholder]="'FIELDS.PHARMACY_NAME_PLACEHOLDER' | translate"
          type="text"
          formControlName="pharmacy_name"
        >
        </app-field>
      </div>
    </div>

    <app-field
      [title]="'FIELDS.PHARMACY_ADDRESS' | translate"
      [placeholder]="'FIELDS.PHARMACY_ADDRESS_PLACEHOLDER' | translate"
      type="text"
      formControlName="pharmacy_address"
    >
    </app-field>

    <div class="l-grid l-grid--c3">
      <div class="l-grid__item">
        <app-field
          [title]="'FIELDS.SOCIAL_SECURITY' | translate"
          [placeholder]="'FIELDS.SOCIAL_SECURITY_PLACEHOLDER' | translate"
          type="number"
          formControlName="social_security"
        >
        </app-field>
      </div>
    </div>

    <div class="c-modal__footer">
      <div class="c-modal__footer-buttons">
        <button class="c-btn c-btn--clear" (click)="close()">
          {{ "GENERAL.CANCEL" | translate }}
        </button>

        <button class="c-btn" (click)="submit()">
          {{ "GENERAL.SUBMIT" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
