<home-hero></home-hero>
<div class="u-margin-top-med"></div>
<home-why-accutane></home-why-accutane>
<hr class="u-margin-top-large u-margin-bottom-large" />
<home-how-it-works></home-how-it-works>
<div class="u-margin-bottom-large"></div>
<home-before-after></home-before-after>
<div class="u-margin-bottom-large"></div>
<home-pricing></home-pricing>
<hr class="u-margin-top-large u-margin-bottom-large" />
<home-advantages></home-advantages>
<hr class="u-margin-top-large u-margin-bottom-large" />
<app-register-cta></app-register-cta>
