<app-hero></app-hero>
<div class="u-margin-top-med"></div>
<app-why-accutane></app-why-accutane>
<hr class="u-margin-top-large u-margin-bottom-large">
<app-how-it-works></app-how-it-works>
<div class="u-margin-bottom-large"></div>
<app-before-after></app-before-after>
<div class="u-margin-bottom-large"></div>
<app-pricing></app-pricing>
<hr class="u-margin-top-large u-margin-bottom-large">
<app-advantages></app-advantages>
<hr class="u-margin-top-large u-margin-bottom-large">
<app-cta></app-cta>
<div class="u-margin-bottom-large"></div>
