<div class="l-container u-flex-direction-column u-flex-align-center">
    <h4 class="l-linelength l-linelength--medium">{{ "HOME.CTA.TITLE" | translate }}</h4>
    <div class="u-display-flex u-margin-top-double">
        <a
            class="c-btn u-margin-right"
            [routerLink]="['/account/create']"
        >
            {{ "HOME.CTA.REGISTER_LINK" | translate }}
        </a>
        <a class="c-btn c-btn--inverted c-btn--outline">{{ "HOME.CTA.QUIZ_CTA" | translate }}</a>
    </div>
</div>
