<div class="l-container u-flex-direction-column u-flex-align-center">
    <h3 class="l-linelength l-linelength--medium">{{ "HOME.CTA.TITLE" | translate }}</h3>
    <div class="u-display-flex u-margin-top-double">
        <a
            class="c-btn u-margin-right"
            [routerLink]="['/account/create']"
        >
            {{ "HOME.CTA.REGISTER_LINK" | translate }}
        </a>

        <app-button
            inverted="true"
            outline="true"
            (click)="openQuiz()"
        >
            {{ "HOME.CTA.QUIZ_CTA" | translate }}
        </app-button>
    </div>
</div>
