<div class="c-field__title" *ngIf="type !== 'file'">{{ title }}</div>
<div class="c-field__body" [ngSwitch]="type">
  <div *ngSwitchCase="'text'">
    <input
      type="text"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    />
  </div>

  <div *ngSwitchCase="'password'">
    <input
      type="password"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    />
  </div>

  <div *ngSwitchCase="'email'">
    <input
      type="email"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
      email
    />
  </div>

  <div *ngSwitchCase="'select'">
    <select
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    >
      <option *ngFor="let opt of options" [value]="opt">
        {{ opt }}
      </option>
    </select>
  </div>

  <div *ngSwitchCase="'date'">
    <my-date-picker
      [options]="dateOptions"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    ></my-date-picker>
  </div>

  <div
    class="c-field__file"
    *ngSwitchCase="'file'"
    [attr.disabled]="isDisabled"
  >
    <input
      [id]="key + '-file'"
      type="file"
      [placeholder]="placeholder"
      (change)="updateFileChanges($event.target.files)"
    />
    <label
      [for]="key + '-file'"
      appDnd
      (fileDropped)="updateFileChanges($event)"
    >
      <div class="c-field__file-image" [ngSwitch]="icon">
        <img
          src="../../../assets/images/icons/back.svg"
          *ngSwitchCase="'back'"
        /><img
          src="../../../assets/images/icons/face.svg"
          *ngSwitchCase="'front'"
        /><img
          src="../../../assets/images/icons/body.svg"
          *ngSwitchCase="'chest'"
        /><img
          src="../../../assets/images/icons/left.svg"
          *ngSwitchCase="'left'"
        /><img
          src="../../../assets/images/icons/right.svg"
          *ngSwitchCase="'right'"
        /><img
          src="../../../assets/images/icons/photo_id.svg"
          *ngSwitchCase="'id'"
        />
      </div>
      <div class="c-field__file-description">
        <h6>{{ title }}</h6>

        <p *ngIf="!value">{{ "FIELDS.PHOTO_PLACEHOLDER" | translate }}</p>
        <p *ngIf="value">
          <fa-icon
            class="c-field__file-attached-icon"
            [icon]="['fas', 'check-circle']"
          ></fa-icon>
          {{ value.name }} {{ "FIELDS.PHOTO_ATTACHED" | translate }}
        </p>
      </div>
    </label>
  </div>

  <div class="e-field__card" *ngSwitchCase="'card'">
    <input
      type="tel"
      autocomplete="cc-number"
      ccNumber
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    />
    <span></span>
  </div>

  <div *ngSwitchCase="'exp'">
    <input
      type="tel"
      autocomplete="cc-exp"
      ccExp
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    />
  </div>

  <div *ngSwitchCase="'cvc'">
    <input
      type="tel"
      autocomplete="off"
      ccCVC
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    />
  </div>

  <div *ngSwitchCase="'phone'">
    <input
      type="phone"
      phone
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    />
  </div>

  <div *ngSwitchCase="'number'">
    <input
      type="number"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    />
  </div>

  <div *ngSwitchCase="'textarea'">
    <textarea
      rows="3"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="updateChanges()"
      [disabled]="isDisabled"
    ></textarea>
  </div>

  <div *ngSwitchCase="'boolean'">
    <div class="c-boolean" [attr.disabled]="isDisabled">
      <input
        class="c-boolean__input"
        type="radio"
        [name]="key"
        [id]="key + '-true'"
        [value]="true"
        [(ngModel)]="value"
        (ngModelChange)="updateChanges()"
      />
      <label class="c-boolean__item" [for]="key + '-true'">
        <span>{{ "GENERAL.YES" | translate }}</span>
      </label>

      <input
        class="c-boolean__input"
        type="radio"
        [name]="key"
        [id]="key + '-false'"
        [value]="false"
        [(ngModel)]="value"
        (ngModelChange)="updateChanges()"
      />
      <label class="c-boolean__item" [for]="key + '-false'">
        {{ "GENERAL.NO" | translate }}
      </label>
    </div>
  </div>

  <div *ngSwitchCase="'multi'">
    <div class="c-multi" [attr.disabled]="isDisabled">
      <div *ngFor="let option of options; let index = index">
        <input
          class="c-multi__input"
          type="checkbox"
          [name]="key"
          [id]="key + '-' + index"
          [(ngModel)]="_checked[index]"
          (ngModelChange)="setCheckedValues()"
        />
        <label class="c-multi__item" [for]="key + '-' + index">
          <fa-icon
            class="c-multi__icon c-multi__icon--checked"
            [icon]="['fas', 'check-square']"
          ></fa-icon>
          <fa-icon
            class="c-multi__icon c-multi__icon--unchecked"
            [icon]="['far', 'square']"
          ></fa-icon>
          <span>{{ option }}</span>
        </label>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'score'">
    <div class="c-score" [attr.disabled]="isDisabled">
      <div *ngFor="let score of _scores; let index = index">
        <input
          class="c-score__input"
          type="radio"
          [name]="key"
          [id]="key + '-' + (index + 1)"
          [value]="index + 1"
          [(ngModel)]="value"
          (ngModelChange)="updateChanges()"
        />
        <label class="c-score__item" [for]="key + '-' + (index + 1)">
          <span>{{ index + 1 }}</span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="c-field__description">{{ description }}</div>
