.mydp .selection,
.mydp .weekdaytitle,
.mydp .monthinput,
.mydp .yearinput {
  font-weight: normal;
}
.mydp .weekdaytitle {
  color: #000;
}

.mydp {
  height: 49px;
}

.mydp .selectiongroup,
.mydp .selection,
.mydp .selector {
  height: 100%;

  input {
    height: 47px !important;
    font-size: 1rem !important;
    font-family: inherit;
    padding-left: 0.75rem;
  }
}
.mydp .header {
  border-radius: 4px 4px 0 0;
}
.mydp .caltable {
  border-radius: 0 0 4px 4px;
}
.mydp .caltable tbody tr:nth-child(6) td:first-child {
  border-bottom-left-radius: 4px;
}
.mydp .caltable tbody tr:nth-child(6) td:last-child {
  border-bottom-right-radius: 4px;
}
.mydp .btnpicker {
  width: 40px !important;
  border-radius: 0 4px 4px 0;
}

.mydp .btnclear {
  display: none;
}
