@import "../styles/sizing.scss";

.l-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.l-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  &--c2 {
    > .l-grid__item {
      width: 50%;
    }
  }

  &--c3 {
    > .l-grid__item {
      width: 33.3%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: $size-one;
  }
}

form {
  .l-grid {
    &__item {
      padding: 0 $size-one;
    }
  }
}

.l-linelength {
  max-width: 64rem;

  &--tiny {
    max-width: 20rem;
  }

  &--tiny-2 {
    max-width: 23rem;
  }

  &--xs {
    max-width: 26rem;
  }

  &--small {
    max-width: 32rem;
  }

  &--medium {
    max-width: 38rem;
  }

  &--large {
    max-width: 44rem;
  }

  &--xl {
    max-width: 60rem;
  }
}
