$size-half: 0.5rem;
$size-tq: 0.75rem;
$size-one: 1rem;
$size-one-half: 1.5rem;
$size-double: 2rem;
$size-quad: 4rem;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: $size-half;
  font-weight: 600;
  line-height: 1.4em;
  white-space: pre-line;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  margin-bottom: $size-one;
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  margin-bottom: $size-one;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7em;
}
