@import "../styles/sizing.scss";

// ALIGN
.u-align-v-left {
  margin-right: auto;
}

.u-align-v-right {
  margin-left: auto;
}

.u-align-h-center {
  align-items: center;
}

// DISPLAY
.u-display-flex {
  display: flex;
}

.u-flex-direction-column {
  flex-direction: column;
}

.u-flex-align-center {
  align-items: center;
}

.u-flex-justify-center {
  justify-content: center;
}

// WIDTH
.u-width--10 {
  width: 10%;
}

.u-width--25 {
  width: 66%;
}

.u-width--33 {
  width: 33%;
}

.u-width--50 {
  width: 50%;
}

.u-width--66 {
  width: 66%;
}

.u-width--75 {
  width: 75%;
}

.u-width--90 {
  width: 90%;
}

.u-width--100 {
  width: 100%;
}

// MAX WIDTH
.u-max-width--10 {
  max-width: 10%;
}

.u-max-width--25 {
  max-width: 66%;
}

.u-max-width--33 {
  max-width: 33%;
}

.u-max-width--50 {
  max-width: 50%;
}

.u-max-width--66 {
  max-width: 66%;
}

.u-max-width--75 {
  max-width: 75%;
}

.u-max-width--90 {
  max-width: 90%;
}

.u-max-width--100 {
  max-width: 100%;
}

// MARGIN
.u-margin-left-half {
  margin-left: $size-half;
}

.u-margin-left {
  margin-left: $size-one;
}

.u-margin-left-double {
  margin-left: $size-double;
}

.u-margin-left-quad {
  margin-left: $size-quad;
}

.u-margin-right-half {
  margin-right: $size-half;
}

.u-margin-right {
  margin-right: $size-one;
}

.u-margin-right-double {
  margin-right: $size-double;
}

.u-margin-right-quad {
  margin-right: $size-quad;
}

.u-margin-top-half {
  margin-top: $size-half;
}

.u-margin-top {
  margin-top: $size-one;
}

.u-margin-top-double {
  margin-top: $size-double;
}

.u-margin-top-quad {
  margin-top: $size-quad;
}

.u-margin-top-large {
  margin-top: 100px;
}

.u-margin-top-med {
  margin-top: 50px;
}

.u-margin-bottom-half {
  margin-bottom: $size-half;
}

.u-margin-bottom {
  margin-bottom: $size-one;
}

.u-margin-bottom-double {
  margin-bottom: $size-double;
}

.u-margin-bottom-quad {
  margin-bottom: $size-quad;
}

.u-margin-bottom-large {
  margin-bottom: 100px;
}

.u-margin-bottom-med {
  margin-bottom: 50px;
}
