// ALIGN
.u-align-v-left {
  margin-right: auto;
}

.u-align-v-right {
  margin-left: auto;
}

.u-align-h-center {
  align-items: center;
}

// DISPLAY
.u-display-flex {
  display: flex;
}

// WIDTH
.u-width--10 {
  width: 10%;
}

.u-width--25 {
  width: 66%;
}

.u-width--33 {
  width: 33%;
}

.u-width--50 {
  width: 50%;
}

.u-width--66 {
  width: 66%;
}

.u-width--75 {
  width: 75%;
}

.u-width--90 {
  width: 90%;
}

.u-width--100 {
  width: 100%;
}

// MAX WIDTH
.u-max-width--10 {
  max-width: 10%;
}

.u-max-width--25 {
  max-width: 66%;
}

.u-max-width--33 {
  max-width: 33%;
}

.u-max-width--50 {
  max-width: 50%;
}

.u-max-width--66 {
  max-width: 66%;
}

.u-max-width--75 {
  max-width: 75%;
}

.u-max-width--90 {
  max-width: 90%;
}

.u-max-width--100 {
  max-width: 100%;
}
