<app-common-page-header
  [title]="'FAQ.TITLE' | translate"
  [description]="'FAQ.DESCRIPTION' | translate"
></app-common-page-header>

<div class="l-container u-flex-align-center">
  <div class="u-width--100 l-linelength l-linelength--medium">
    <div class="e-faq-group u-margin-top-quad" *ngFor="let group of groups">
      <h5>{{ group.title }}</h5>
      <app-faq-item
        *ngFor="let item of group.items"
        [item]="item"
      ></app-faq-item>
    </div>
  </div>
</div>

<app-learn-more-footer></app-learn-more-footer>
