<app-flow-page-header
  [title]="'CLINICAL_DETAILS.TITLE' | translate"
  [description]="'CLINICAL_DETAILS.DESCRIPTION' | translate"
  [currentStep]="1"
>
</app-flow-page-header>

<div
  class="e-clinical-details c-form l-container l-linelength l-linelength--xl u-margin-top-double"
>
  <div class="l-grid l-grid--c2">
    <div class="l-grid__item">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div
          class="c-section u-margin-bottom-double"
          *ngFor="let group of fields"
        >
          <h3 class="c-section__title">
            <span>
              {{ group.label }}
            </span>
            <span class="c-section__title-decoration"></span>
          </h3>
          <div class="c-section__body">
            <app-field
              *ngFor="let field of group.content"
              [key]="field.key"
              [title]="field.label"
              [placeholder]="field.desc"
              [type]="field.type"
              [formControlName]="field.key"
              [options]="field.choices"
            >
            </app-field>
          </div>
        </div>

        <hr class="hr--full u-margin-bottom-double" />

        <div>
          <button class="c-btn c-btn--large" type="submit">
            {{ "GENERAL.NEXT" | translate }}
          </button>
        </div>
      </form>
    </div>
    <div class="l-grid__item l-grid__item--illustration">
      <img src="../../../../../assets/images/Illustration-18.svg" />

      <img
        class="e-clinical-details__scroll-image"
        src="../../../../../assets/images/Illustration-19.svg"
      />
      <p class="e-clinical-details__scroll-text">
        {{ "CLINICAL_DETAILS.SCROLL_MESSAGE" | translate }}
      </p>
    </div>
  </div>
</div>
